################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SearchGitHubMVC/bin
/SearchGitHubMVC/fonts
/SearchGitHubMVC/obj
